/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

#about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.project {
    margin-bottom: 20px;
    
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

@media (max-width: 600px) {
    section {
        width: 95%;
    }
}

